

.Navbar{
    display: flex;
    justify-content:space-between;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    color: black;
    background-color:rgb(240, 248, 247);
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: bold;
    align-content: space-between;
    border: 5px solid rgb(7, 7, 7);
    border-radius: 15px;
    width: 96%;
    margin-left: 20px;
    margin-bottom: 30px;
    margin-right: 30px;



}

.nav-head{
    margin-left: 10px;
    font-weight: bold;
    text-align: left;
    font-family: 'Festive', cursive;
    font-family: 'Great Vibes', cursive;
    font-family: 'Sacramento', cursive;
    font-family: 'Tangerine', cursive;
}

.header-link{
    display: flex;

}
ul li Link{ 
    list-style: none;
    font-size: large;
    display: inline-block;
    list-style-type: none;
    text-decoration: none;


}
li{
    list-style-type: none;
    text-decoration: none;
    /* font-size: xx-large; */

}
li:hover{
    font-size: x-large;
    color: red;
}

.header-link ul li:hover{
    color: greenyellow;

    
}
a,a:link,a:link:active{
    color: #000;
 
    margin: 6px 0;
    

}
